

.management-channels{
    background-color:#2F3136 ;
    width: 14.5rem;
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:99.3%;
}

.title-server{
    color: white;
}

.container-channels-serv{

    height: 100%;

}

.header-title-serv{
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.text-channels-container{
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.header-text-channel{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px;
}

.header-text-channel:hover{
    color: white;
}

.card-text{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 3px;
    font-weight: bold;
    border-radius: 5px;

}

.card-text:hover{
    background-color: #393C43;
    color: white;
}

.opt-text-card{
    display: flex;
    gap: 5px;
}

.voice-channels-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.voice-channels{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
}

.voice-channels:hover{
    color: white;
}

.gear-serv{
    background: none;
    border: none;
    color: white;
    padding-bottom: 10px;
}

.opt-title-serv{
   height: 50px;
   display: flex;
   align-items: center;
}

.btn-add-chann{
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: gray;
}

.opt-text-card{
    padding-bottom: 5px;
}