
.card-modal-channel{
    background-color:#36393F;
    color: white;
  
}



.input-channelType-div{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #3A3E44;
    border-radius:5px ;
    padding: 10px;
    height: 4rem;
}

.body-modal-channel{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.opts-channelType{
    margin-top: 10px;
}

.title-opt-channelType{
    margin: 0;
    font-weight: bold;
}

.radio-channel-select{
    width: 30px;
    height: 30px;
}

.input-nameChannel{
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    background-color: #313339;
}