
@import '../../../sass/global.scss';


.containerMd{
    @include flexBox(flex, '' , space-between,60px, white,'');
    padding-top: 11px;
    gap: 2rem;
    flex-direction:column;
    height: 100vh;
    background: $MDColor;
}

.inputDivMd{
    padding-top: 10px;
    border-bottom: 1px solid gray;
    padding: 10px
}

.inputSearch{
    @include inputs($SecondaryOscuro, gray , 5px, 100%, 3.5px,'');
    margin-bottom:10px
}

.mdList{
 padding: 10px
}

.headerMdList{
    @include flexBox(flex, center,space-between, '','','');
}

.headerMdList > p{
    padding-top: 20px;
}

.btnMd{
    @include btn('','',none, none);
    color: gray;
    font-size: 25px;
}

.userSetts{

    margin-top: auto;
}
