@import '../../../sass/global.scss';
@import '../../../sass/mediaquery.scss';

/*PART 1 OF HOME PAGE*/

body{
    background-color: white;
        &.dark{
            background-color:red;
            transition: .3s ease all;
        }
        &.light{
            background-color: '';
            transition: .3s ease all;
        }
     
}

.homePart1Container{
    height: 70vh;
    background-image: url('../../../assets//img/prueba.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.zoomCordLogo{
    width: 130px
}

.headerHomepage{
    @include flexBox(flex,center,space-around,'',white,'');
    padding: 1.5rem;
    font-weight: bold;
    @include breakpoint(md){
        font-size: 14px;   
    }
}

.navList{
    @include flexBox(flex,'',space-between,'','','');
    list-style: none;
    width: 32%;
    @include breakpoint(md){
        @include flexBox(flex,'',space-around,'','','');
        width: 100%;     
    }
   
}

.btnHomepageLogin{
    padding: 0.7rem;
    width: 7rem;
    border-radius: 30px;
    border: none;
    font-size: 15px;

    body.dark & {
        background-color:$SecondaryOscuro;
        transition: .3s ease all;   
        color: white;  
    }
    @include breakpoint(md){ 
        padding: 8px; 
    }
}

.homepage1Container{
    color: white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    width: 39%;
    align-items: center;
    @include breakpoint(md){ 
        width: 89%;   
    }
}

.titleHomepage{
    font-weight: bold;
    font-size: 3.95rem;
    @include breakpoint(md){ 
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }
}

.containerP1{
    @include flexBox(flex,'',center,'','','');
    padding: 6rem;
}

.textHomepage{
    text-align: center;
    @include breakpoint(md){ 
        font-size: 20px;
        margin-top: 10px;
    }
}

.divBtnsHome{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;

    @include breakpoint(md){ 
        font-size: 20px;
        width: 60%;
        font-size: 15px;
    }
}

.btnDnWindows{
    padding: 1rem;
    font-size: 12px;
    width: 46%;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    body.dark & {
        background-color:$SecondaryOscuro;
        transition: .3s ease all;   
        color: white;  
    }

}

.bntOpenOnNav{
    padding: 1rem;
    font-size: 12px;
    width: 46%;
    border-radius: 30px;
    border: none;
    background-color: #36393F;
    color: white;
    font-weight: bold;

    body.dark & {
        background-color:gray;
        transition: .3s ease all;   
        color: black;  
    }
}

/*PART 2 OF HOME PAGE*/

.part2HomeContainer{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;

    body.dark & {
        background-color:$SecondaryOscuro;
        transition: .3s ease all;
        color: white;
    }

    
}

.infoHome2Container{
    display: flex;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    gap: 8%;

}

.imgHome2{
    width: 100%;  
}

.titleHome2{
    font-size: 3rem;
    font-weight: bold;
    @include breakpoint(md){ 
        font-size: 30px;
        width: 350px;  
        align-items: flex-start;   
    }
}

.divInfoHome2{
    width: 40%;  
}

/*PART 3 HOME*/



.part3HomeContainer{
    @include flexBox(flex,center,center,'','','');
    height: 70vh;
    background-color: #F6F6F6;

    body.dark & {
        background-color:$PrimaryClaro;
        color: white;
    } 
}

/*PART 4 HOME*/

.part4HomeContainer{
    @include flexBox(flex,center,center,'','','');
    height: 70vh;
    background-color: white;

    body.dark & {
        background-color: $SecondaryOscuro;
        color: white;
    }   
}

/*PART 5 HOME*/

.part5HomeContainer{
    @include flexBox(flex,center,center,'','','');
    height: 130vh;
    flex-direction: column;
    display: flex;
    background-color:#F6F6F6;
    padding-bottom: 10%;
    padding-top: 10%;

    body.dark & {
        background-color: $PrimaryClaro;
        color: white;
    }

    @include breakpoint(md){ 
 
        height: 100%;
    }
}

.divInfoHome5{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 30%;
}

.titleHome5{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.textHome5{
    text-align: center;
}

.imgHome5{
    width: 75rem;
}

.footerHome5{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.btnReadyHome5{
    background-color:#7983F5 ;
    color: white;
    border: none;
    font-weight: bold;
    width: 50%;
    padding: 1rem;
    border-radius: 30px;
}

/* MULTITHEMING*/

.switch{
    background-color:#343D5B ;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #f1f1f1;
        top: 0;
        left: 0; //SE VARIA ENTRE LEFT Y RIGHT PARA LA ANIMACION DEL BOTON
        right: unset; 
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba (0,0,0,.2);
    }
    &#active{
        background: gray;
        color:black;
        &::after{ // LOS DOBLES PUNTOS ES COMO UNA CONDICION
            right: 0;
            left: unset;
        }
    }
    span{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


//ANTES 340 LINEAS

