/*PART 1 OF HOME PAGE*/
.home-part1-container {
  height: 70vh;
  background-image: url("../../../assets/img/prueba.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-homepage {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 32%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-homepage-login {
  padding: 0.7rem;
  width: 7rem;
  border-radius: 30px;
  border: none;
  font-size: 15px;
}

.homepage1-container {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 39%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-homepage {
  font-weight: bold;
  font-size: 3.95rem;
}

.container-p1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem;
}

.text-homepage {
  text-align: center;
}

.div-btns-home {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2rem;
}

.btn-dnWindows {
  padding: 1rem;
  width: 46%;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

.bnt-openOnNav {
  padding: 1rem;
  width: 46%;
  border-radius: 30px;
  border: none;
  background-color: #36393F;
  color: white;
  font-weight: bold;
}

/*PART 2 OF HOME PAGE*/
.part2-home-container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-home2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8%;
}

.img-home2 {
  width: 100%;
}

.title-home2 {
  font-size: 3rem;
  font-weight: bold;
}

.div-info-home2 {
  width: 40%;
}

/*PART 3 HOME*/
.part3-home-container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

/*PART 4 HOME*/
.part4-home-container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

/*PART 5 HOME*/
.part5-home-container {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 10%;
  padding-top: 10%;
}

.div-info-home5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 30%;
}

.title-home5 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.text-home5 {
  text-align: center;
}

.img-home5 {
  width: 75rem;
}

.footer-home5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.btn-readyHome5 {
  background-color: #7983F5;
  color: white;
  border: none;
  font-weight: bold;
  width: 50%;
  padding: 1rem;
  border-radius: 30px;
}
/*# sourceMappingURL=style.css.map */