@import '../../../sass/global.scss';

.divModal{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    background-color: $SecondaryOscuro;
    border-color: gray;
    color: white;
}

.divModal:hover{
    background-color: #F4F5F6;
}

.containerOptsModal{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.optModal{
    font-size: 20px;
}

.btnBackModal{
    background: none;
    border: none;
}

.divUploadPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    border-style: dashed;
    font-size: 0;
    cursor: pointer;
}

.footerModal{
    display: flex;
    justify-content: space-between;
    background-color:$PrimaryClaro;
}

.uploadContainer{
    display: flex;
    justify-content: center;
}

.btnModalCreate{
    width: 23%;
    padding: 0.5rem;
}

.inputNameServ{
    width: 100%;
    padding: 10px;
    background-color:#FCFCFC;
    border: 0.5px solid lightgray;
    border-radius: 8px;
}

.text-conditions-serv{
    font-size: 10px;
    color: gray;
}

.nameServ{
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2%;
}

#contained-modal-title-vcenter{
    font-weight: bold;
}

.sectionCreate{
    background-color: $PrimaryClaro;
    border-radius: 10px;
    color: white;
}