@import '../../../sass/global.scss';

.msg{
    @include flexBox(flex,center,'','','','');
    gap: 1rem;
    padding: 5px;
}

.msg:hover{
    background-color: $hoverMsg;
    border-radius: 10px;
}

.imgMsg{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.dateMsg{
    font-size: 10px;
    color: gray;
}

.usernameMsg{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.msgText{
    font-size: 13px;
}