@import '../../../sass/global.scss';

  
/* EJEMPLO MEDIA QUEY MIXING

.header{
    background-color:yellow;
    @include header(768px){
        background-color: brown;
    }
    @include header(){
        background-color: orange;
    }
}

*/

.header {
    @include flexBox(flex, center , space-between,73px, white,'');
    border-bottom: 1px solid gray;
    padding-top: 15px
}

.headerList{
    @include flexBox(flex, center, space-between, '', '','');
    width:50%
}

.headerOpts{
    @include flexBox(flex, center, space-around, '', '','');
    width: 10% ;
}

.sectionFriends{
    padding: 20px;
    display: flex;
}

.containerFriendList{
    padding: 10px;
    color: white
}

.inputFriends{
    @include inputs($SecondaryOscuro, gray , 5px, 100%, 8px,20px)
}

.friendOpt {
    @include flexBox(flex, center, '', '', '','')
}

.friend{
    @include flexBox(flex, center, space-between,'','','');
    cursor: pointer;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.friend:hover{
    background: $HoverListFrMd;
    border: none;
    border-radius: 5px;
}

.friendInfo > *{
    @include listFriend( 0,'')
}


.containerFriendList{
    width: 80%;
}

.friendList{
    @include flexBox(flex,'','','','',2rem);
    flex-direction: column;
 
}

.divUserFriend{
    @include flexBox(flex,center,center,'','',1rem)
}