@import '../../sass/mediaquery.scss';


.signUpContainer{
    background-image: url('../../assets/img/signup.jpg');
    background-size: cover;
    height: 100vh;
}

.headerLoginCard{
    text-align: center;
}

.titleLogin{
    font-size: 1.7rem;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    color: white;
  
}

.signUpCard{
    gap: 1rem;
    background-color:#36393F;
    height: 65%;
    width: 25%;
    padding: 1.5rem;
    border-radius: 5px;

    @include breakpoint(md){
        height: 85%;
        width:40%;
    }

    @include breakpoint(s){
        height: 79%;
        width:45%;
    }
}

.inputDiv{
    display: flex;
    flex-direction: column;
}

.inputDiv > label{
    font-size: 12px;
    font-weight: bold;
}

.fontCardSign{
    font-size: 12px;
    font-weight: bold;
}

.inputSignup{
    padding: 0.35rem;
    border-radius: 4px;
    border: #15151a 1px solid;
    background-color: #313339;

    @include breakpoint(md){
        padding: 4px;
    }
}


.formCard{
   display: flex;
   flex-direction: column;
    gap: 1.2rem;
   height: 100%;

   @include breakpoint(md){
       gap: 0.6rem;
   }
}

.divSelects{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.select-date-signup{
    padding: 0.35rem;
    border-radius: 4px;
    border: #15151a 1px solid;
    background-color: #313339;
    color: white;
}

.divCheckPrivacy{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
}

.privacyLogin{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPrivacyLogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginCard{
    gap: 1rem;
    background-color:#36393F;
    height: 35%;
    width: 25%;
    padding: 1.5rem;
    border-radius: 5px;
    @include breakpoint(md){
        height: 47%;
        width: 35% ;
    }
    @include breakpoint(s){
        height:45%;
        width: 45%;
    }
}
.fontAccSign{
    color: #0D6EFD;
}